.field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}
.cell {
  font-size: 22px;
  text-align: center;
  aspect-ratio: 1;
  border-left: 2px solid #FFF;
  border-top: 2px solid #FFF;
  border-right: 2px solid rgb(100, 100, 100);
  border-bottom: 2px solid rgb(100, 100, 100);
  background-color: rgb(168, 168, 168);
}
.cell.opened {
  border-left: 1px solid rgb(115, 115, 115);
  border-top: 1px solid rgb(115, 115, 115);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgb(175, 175, 175);
}
.cell.mines1 {
  /* blue */
  color: rgb(0, 0, 186);
}
.cell.mines2 {
  /* blue */
  color: rgb(0, 100, 33);
}
.cell.mines3 {
  /* blue */
  color: rgb(206, 0, 0);
}
.cell.has-mine {
  /* blue */
  background-image: url(../../public/musked.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cell.marked {
  /* blue */
  background-image: url(../../public/redflag.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cell.is-red {
  /* blue */
  background-color: rgb(206, 0, 0);
}
